<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>maintenance Page</title>
    </head>
    <body>
        {{> header}}
        <h1>{{welcomeMessage}}</h1>

        {{> footer}}
    </body>
</html>